
.archive-item-meta {

}

.archive-item-meta__list {

}

.archive-item-meta__item {
	margin-bottom: $d_spacer_sm;

	@include g-state(medium) {
		margin-bottom: $d_spacer_sm;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.archive-item__content-block {
	margin-bottom: $d_spacer_sm;

	@include g-state(medium) {
		margin-bottom: $d_spacer_m;
	}
}

.archive-item__content-block--document a {
	font-size: 26px;
	align-items: center;
	display: flex;
	justify-content: center;
	text-decoration: none;
	text-align: left;
	max-width: 300px;

	span {
		flex: 1 1 auto;
		font-size: 14px;
		margin-left: 10px;
		text-transform: uppercase;
		text-align: left;

		@include g-state(medium) {
			font-size: 16px;
		}
	}

	i {
		flex: 0 0 auto;
	}

	.btn {
		width: 100%;
		display: block;
	}
}

.audio-oembed {
	iframe {
		width: 100% !important;
	}
}

.video-oembed {

	.video-oembed__container {
		position: relative;
		height: 0;
		width: 100%;

		iframe,
		embed,
		object {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.video-oembed__container--9-16 {
		padding-bottom: 56.25%;
	}

	.video-oembed__container--3-4 {
		padding-bottom: 75%;
	}

	.video-oembed__container--1-1 {
		padding-bottom: 100%;
	}
}
