.a-control-row {

	@include g-state( medium ) {
		display: flex;
	}


}

.a-control-row--1 > * {
	@include g-state( medium ) {

	}
}

.a-control-row--2 {
	@include g-state( medium ) {
		flex: 1 1 50%;
	}
}

.a-control-row--3 {
	@include g-state( medium ) {
		flex: 1 1 33.33%;
	}
}

.a-search-row {
	display: flex;
}

.a-search-input {
	flex: 1 1 100%;
	margin-right: 20px;

	input {
		width: 100%;
	}
}

.a-search-button {
	height: 40px;
	flex: 0 0 auto;
}
