
.a-grid-wrap {
	@include g-state( small ) {
		padding-right: c
	}
}

.a-grid {
	@include g-row();
}

.a-item {
	margin-bottom: 20px;

	@include g-grid( 12 );

	@include g-state( small ) {
		@include g-grid( 6 );
	}

	@include g-state( medium ) {
		@include g-grid( 4 );
	}

	@include g-state( full ) {
		@include g-grid( 3 );
	}

	@include g-state( large ) {
		@include g-grid( 2 );
	}
}

.a-item__img {
	position: relative;
	background-color: $color_grey_light;
	height: 0;
	padding-top: 100%;
	margin-bottom: $d_spacer_xsm;

	img {
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		top: 0;
	}

	.a-item--has-audio &,
	.a-item--has-video & {
		position: relative;

		&:after {
			font-family: $t_font_icons;
			font-weight: 900;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			content: "\f028";
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 3;
			color: $color_grey_light;
			margin-left: $d_spacer_sm;
			margin-bottom: $d_spacer_sm;
			font-size: 2em;
			opacity: 0.5;
		}
	}

	.a-item--has-audio &:after {
		content: "\f028";
	}

	.a-item--has-video &:after {
		content: "\f04b";
	}

	.a-item--has-audio .a-item__action:hover &:after,
	.a-item--has-video .a-item__action:hover &:after {
		opacity: 0.6;
	}
}

.a-item__action {
	cursor: pointer;

	&:hover,
	&:focus {
		.a-item__figure-caption {
			text-decoration: underline;
		}
	}
}

.a-item__figure-caption {

}
