
/* React pagination */

ul.react-pagination {
	display: inline-block;
	margin: 20px 0;
	padding-left: 0;
	padding-right: 15px;
}

ul.react-pagination li {
	display: inline-block;
	margin-right: 5px;

	a {
		@include button;

		color: $color_white;
	}

	&.active a {
		background-color: $color_grey;
	}

	&.disabled {
		display: none;
	}
}

ul.react-pagination .break a {
	cursor: default;
}
