
.card__feature-image {
	margin: 0 0 $d_spacer_xsm;

	@include g-state(medium) {
		margin: 0 0 $d_spacer_sm;
	}
}

.card__title {
	margin: 0 0 $d_spacer_sm;

	@include g-state(medium) {
		margin: 0 0 $d_spacer_m;
	}
}

.card__excerpt {
	margin: 0 0 $d_spacer_sm;

	@include g-state(medium) {
		margin: 0 0 $d_spacer_m;
	}
}
