// Colors
// =================================================
$white: #fff;
$primary: #153FA6;

$color_white: #fff;
$color_grey_light: #dddddd;
$color_grey_dark: #777777;



// Media Queries
// =================================================
$mq_xxsmall: 375px;
$mq_xsmall: 500px;
$mq_small: 600px;
$mq_medium : 768px;
$mq_wpadmin: 783px;
$mq_full: 960px;
$mq_large: 1200px;
$mq_xlarge: 1400px;
