
@mixin form-basic {
	transition: $t_transition;
	padding: 3px;
	border: 1px solid $color_border;
	border-radius: 3px;
	background-color: $color_white;
	display: block;
	width: 100%;
	color: $color_text;
}
