
@mixin body-text {
	font-size: $t_font_size_m;
	line-height: $t_line_height_lrg;
	letter-spacing: 0.3px;

	@include g-state(medium) {
		font-size: $t_font_size_lrg;
		line-height: $t_line_height_lrg;
	}
}
