
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin placeholder {
	::-webkit-input-placeholder { @content }
	:-moz-placeholder           { @content }
	::-moz-placeholder          { @content }
	:-ms-input-placeholder      { @content }
}

