.footer {
	padding: $d_spacer_lrg 0;
	background-color: $color_grey_dark;
	flex: 0 0 auto;

	a {
		color: $color_white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.menu {
		a {
			font-size: 18px;
			font-weight: $t_font-weight_normal;
		}
	}

	p {
		color: $color_white;
	}

	@include g-state(medium) {
		padding: $d_spacer_xlrg 0;
	}

	.wrapper {
		padding-bottom: 0;
	}
}

.footer-menu__wrap {
	margin-bottom: $d_spacer_m;
	display: block;
}

.footer-menu {
	ul {
		margin: 0;
		display: block;
	}

	li {
		vertical-align: top;
		display: inline-block;
		margin-right: $d_spacer_smm;
		margin-bottom: $d_spacer_smm;
		width: auto;

		@include g-state(medium) {
			margin-bottom: $d_spacer_m;
		}
	}
}