.footer {
	padding: $d_spacer_m 0;
	background-color: $color_grey_dark;
	flex: 0 0 auto;

	a {
		color: $color_white;
		text-decoration: none;
		font-size: 18px;
		font-weight: $t_font-weight_bold;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	p {
		color: $color_white;
	}

	@include g-state(medium) {
		padding: $d_spacer_lrg 0;
	}
}

.footer-menu__wrap {
	margin-bottom: $d_spacer_m;
	display: block;
}

.footer-menu {
	ul {
		margin: 0;
		display: flex;
		justify-content: flex-start;
	}

	li {
		margin-right: $d_spacer_m;
	}
}