
.wp-block-cover {
	margin-top: 0;
	margin-bottom: $d_spacer_m;

	@include g-state(medium) {
		margin-top: 0;
		margin-bottom: $d_spacer_lrg;
	}

	.wp-block-cover-text {
		@include headers;

		color: $color_white;
		font-size: 30px;

		@include g-state(medium) {
			font-size: 40px;
		}


		.wp-block-column & {
			@include g-state(medium) {
				font-size: 30px;
			}
		}
	}

	.wp-block-column & {
		@include g-state(medium) {
			min-height: 200px;
		}
	}
}
