
.wp-block-embed {
	@include block-spacing;
}


.wp-block-embed-instagram {
	&.alignwide iframe {
		max-width: 100% !important;
	}

	&.alignfull iframe {
		max-width: 100% !important;
	}

	&.aligncenter iframe {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.wp-block-embed-flickr {
	&.alignwide img {
		width: 100% !important;
	}

	&.alignfull img {
		width: 100% !important;
	}

	&.aligncenter img {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
