
/* Pull Quote
--------------------------------------------- */

.wp-block-pullquote {
	border: none;
	padding: 0;
	margin-top: $d_spacer_lrg;
	margin-bottom: $d_spacer_lrg;
	line-height: inherit;

	@include g-state(medium) {
		margin-top: $d_spacer_m;
		margin-bottom: $d_spacer_m;
	}

	blockquote {
		border-left: 0;
		padding: 16px 0;
		border-top: 4px solid $color_grey_dark;
		border-bottom: 4px solid $color_grey_dark;
		text-align: center;

		&.has-text-color {
			p {
				color: inherit;
			}
		}
	}

	&.is-style-solid-color blockquote {
		border-top-color: transparent;
		border-bottom-color: transparent;
	}

	p {
		font-size: 20px;
		font-style: italic;
		font-weight: $t_font_weight_normal;
		line-height: 1.4;

		@include g-state(medium) {
			font-size: 27px;
		}
	}

	&.alignleft,
	&.alignright {
		max-width: 100%;

		@include g-state(medium) {
			max-width: 50%;
			display: inline-block;

			blockquote {
				margin: 0 auto;
			}
		}

		p {
			font-size: 20px;

			@include g-state(medium) {
				font-size: 27px;
			}
		}
	}

	&.alignleft {

		@include g-state(medium) {
			margin-right: $d_spacer_m;
		}
	}

	&.alignright {
		@include g-state(medium) {
			margin-left: $d_spacer_m;
		}
	}

	cite {
		display: block;
		font-size: 13px;
		font-weight: $t_font_weight_bold;
		margin-top: 12px;
		text-transform: uppercase;
		font-style: normal;
		color: $color_grey;

		@include g-state(medium) {
			font-size: 16px;
		}
	}

	&.is-style-solid-color cite {
		color: inherit;
	}
}