.wp-block-table {
	margin-top: 0;
	margin-bottom: $d_spacer_m;
	border: 1px solid $color_border;
	border-collapse: collapse;
	@include body-text;

	@include g-state(medium) {
		margin-top: 0;
		margin-bottom: $d_spacer_lrg;
	}

	th {
		font-weight: $t_font_weight_bold;
	}

	th, td {
		border: 1px solid $color_border;
		padding: $d_spacer_sm;
	}

	tr:nth-of-type(odd) {
		background: $color_grey_lighter;
	}
}