.wp-block-table {
	@include block-spacing;
	@include body-text;

	border: 1px solid $color_border;
	border-collapse: collapse;

	th {
		font-weight: $t_font_weight_bold;
	}

	th, td {
		border: 1px solid $color_border;
		padding: $d_spacer_sm;
	}

	tr:nth-of-type(odd) {
		background: $color_grey_lighter;
	}
}