
.primary-menu__wrap {
	display: none;
	margin:	60px 0;

	@include g-state(full) {
		display: block;
		margin: 0;
	}

	.menu--opened & {
		display: block;
		position: fixed;
		padding: $d_spacer_m;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color_white;
		overflow: auto;

		@include g-state(full) {
			display: block;
			position:relative;
			width: auto;
			height: auto;
			background: transparent;
		}


	}

	.menu--opened.admin-bar & {
		top: $d_spacer_wpadmin_mobile;

		@include g-state(wpadmin) {
			top: $d_spacer_wpadmin_desktop;
		}
	}
}

.primary-menu {
	margin-top: 50px;

	li {
		float: left;
		display: inline-block;

		.menu--opened & {
			display: block;
			width: 100%;
			margin: $d_spacer_sm 0;
			float: none;
		}
	}

	@include g-state(full) {
		margin-top: 0;

		li + li {
			margin-left: $d_spacer_sm;
		}
	}

	a {
		@extend %button;

		font-style: 20px;

		.menu--opened & {
			display: block;
		}
	}
}

.primary-menu__close {
	display: none;
	position: absolute;
	top: 10px;
	border: 0;
	right: 10px;
	padding: 0;
	font-size: 30px;

	.menu--opened & {
		display: block;

		@include g-state(full) {
			display: none;
		}
	}

	@include g-state(full) {
		display: none;
	}
}
