

/*

Accounting for two markup formats

// Case: Default pages

<div class="menu"><ul>
<li class="page_item page-item-472 page_item_has_children"><a href="http://diviner.localhost/test-page-2/">Another Test Page</a>
<ul class="children">
<li class="page_item page-item-1606"><a href="http://diviner.localhost/test-page-2/loreem-ipsum/">Loreem ipsum</a></li>
<li class="page_item page-item-468"><a href="http://diviner.localhost/test-page-2/test-page/">Test page</a></li>
</ul>
</li>
<li class="page_item page-item-498"><a href="http://diviner.localhost/blog/">Blog</a></li>
<li class="page_item page-item-1033"><a href="http://diviner.localhost/diviner-browse/">Diviner Browse</a></li>
<li class="page_item page-item-902 current_page_item"><a href="http://diviner.localhost/" aria-current="page">Diviner Home</a></li>
<li class="page_item page-item-227"><a href="http://diviner.localhost/kitchen-sink/">Kitchen Sink</a></li>
<li class="page_item page-item-322"><a href="http://diviner.localhost/kitchen-sink-gut/">Kitchen Sink Gut</a></li>
<li class="page_item page-item-2"><a href="http://diviner.localhost/sample-page/">Sample Page</a></li>
<li class="page_item page-item-1043"><a href="http://diviner.localhost/search/">Search</a></li>
<li class="page_item page-item-1101"><a href="http://diviner.localhost/stories/">Stories</a></li>
<li class="page_item page-item-1578"><a href="http://diviner.localhost/whhkasd-hksadhksadkhasd/">whhkasd hksadhksadkhasd</a></li>
</ul></div>

// Case: Associated Wp menu

<div class="menu-menu-1-container"><ul id="menu-menu-1" class="menu"><li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-207"><a href="http://diviner.localhost/" aria-current="page">Home</a></li>
<li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a href="http://diviner.localhost/kitchen-sink-gut/">Kitchen Sink Gut</a></li>
<li id="menu-item-1600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1600"><a href="http://diviner.localhost/diviner-browse/">Diviner Browse</a></li>
<li id="menu-item-1601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a href="http://diviner.localhost/blog/">Blog</a></li>
<li id="menu-item-1609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1609"><a href="http://diviner.localhost/test-page-2/">Another Test Page</a>
<ul class="sub-menu">
	<li id="menu-item-1610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1610"><a href="http://diviner.localhost/test-page-2/loreem-ipsum/">Loreem ipsum</a></li>
	<li id="menu-item-1611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1611"><a href="http://diviner.localhost/test-page-2/test-page/">Test page</a></li>
</ul>
</li>
<li id="menu-item-1603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1603"><a href="http://diviner.localhost/kitchen-sink/">Kitchen Sink</a></li>
</ul></div>


*/



.primary-menu__wrap {
	display: none;
	margin:	60px 0;

	@include g-state(full) {
		display: block;
		margin: 0;
	}

	.menu--opened & {
		display: block;
		position: fixed;
		padding: $d_spacer_m;
		margin: 0;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		overflow: auto;

		@include g-state(full) {
			display: block;
			position:relative;
			width: auto;
			height: auto;
			background: transparent;
		}


	}

	.menu--opened.admin-bar & {
		top: $d_spacer_wpadmin_mobile;

		@include g-state(wpadmin) {
			top: $d_spacer_wpadmin_desktop;
		}
	}
}

.primary-menu {
	padding-top: 50px;
	position: relative;

	li {
		float: left;
		display: inline-block;
		position: relative;

		.menu--opened & {
			display: block;
			width: 100%;
			margin: $d_spacer_sm 0;
			float: none;
		}
	}

	@include g-state(full) {
		margin-top: 0;
		padding-top: 0;
		margin-right: calc(-1 * #{$d_spacer_m});

		ul.menu,
		.menu > ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}

		.menu > ul > li {
			overflow: visible;
		}

		ul.menu > li > a,
		.menu > ul > li > a {
			padding: 5px 10px;
			line-height: 1.2;
		}

		.menu > ul > li + li {
			margin-left: $d_spacer_sm;
		}

	}

	a {
		@include button-global;

		font-size: 25px;
		text-transform: uppercase;
		padding: .5em 1em;
		transition: $t_transition;
		font-weight: $t_font_weight_normal;

		.menu--opened & {
			display: block;
		}

		@include g-state(full) {
			background-color: transparent;
			text-transform: uppercase;
			border: none;
			color: $color_grey;
			font-family: $t_font_helvetica;
			font-size: 20px;
			letter-spacing: 0;
			font-weight: $t_font_weight_normal;

			&:visited {
				color: $color_grey;
			}

			&:hover,
			&:focus {
				color: $color_grey_darker;
				background-color: transparent;
			}
		}

	}
}

.primary-menu__close {
	@include button-global;

	display: none;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	padding: 0;
	font-size: 30px;
	background: transparent;
	color: $color_grey_light;

	&:hover,
	&:focus {
		background-color: transparent;
		color: $color_white;
	}

	.menu--opened & {
		display: block;

		@include g-state(full) {
			display: none;
		}
	}

	@include g-state(full) {
		display: none;
	}
}

.page_item_has_children,
.menu-item-has-children {
	overflow: visible;
}

.children,
.sub-menu {
	margin-left: $d_spacer_m;

	@include g-state(full) {
		display: none;
		width: auto;
		min-width: 180px;
		position: absolute;
		z-index: 10;
		left: 0;
		margin-left: 0;
		top: 100%;
		padding: $d_spacer_sm;
		background-color: $color_background;
		box-shadow: 0 3px 7px 0 rgba(61,61,61,0.3);
		max-width: 250px;
		opacity: 0;
		transition: $t_transition;

		.menu .page_item_has_children:hover > &,
		.menu > .menu-item-has-children:hover > & {
			display: block;
			opacity: 1;
		}

		.menu .page_item_has_children:last-of-type > &,
		.menu > .menu-item-has-children:last-of-type > & {
			left: auto;
			right: 10px;
		}

		li {
			float: none;
			margin-bottom: $d_spacer_sm;
			width: 100%;
			position: relative;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				position: relative;
				display: block;
				width: 100%;
			}
		}

	}
}
