
// -----------------------------------------------------------------------------
//
// Buttons
//
// -----------------------------------------------------------------------------

%button-global {
	width: auto;
	display: inline-block;
	line-height: 1;
	font-weight: bold;
	height: auto;
	cursor: pointer;
	text-decoration: none;
	border: 0;
	letter-spacing: .0275em;
	padding: 0;
	text-transform: uppercase;
	font-size: 13px;

}

// -----------------------------------------------------------------------------
// Button: Button Link
// -----------------------------------------------------------------------------

.btn,
%button {
	@extend %button-global;
	background-color: $color_primary;
	text-align: center;
	color: $color_white;
	padding: .5em 1em;
	border-radius: 0;

	&:visited {
		color: $color_white;
	}
	&:hover,
	&:focus,
	&:active {
		background-color: $color_secondary;
		color: $color_white;
		text-decoration: none;
	}
	&:focus {
		outline: 1px dotted;
	}
}

// Button Size: Small
.btn-s,
%button-small {
	font-size: 13px;

	@include g-state(medium) {
		font-size: 15px;
	}
}

// Button Size: Large
.btn-lg,
%button-large {
	font-size: 1.1em;
	padding: .95em 1.5em;

	@include g-state(medium) {
		font-size: 1.2em;
	}
}

.btn-full {
	width: 100%;
	text-align: center;
	margin: 0 0 9px;
}

.btn-fullmobile {
	width: 100%;
	text-align: center;
	margin: 9px 0;

	@include g-state(medium) {
		width: auto;
		text-align: left;
	}
}