/* -----------------------------------------------------------------------------
 *
 * Globals: HTML & Body
 *
 * ----------------------------------------------------------------------------- */

html {
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}