/* -----------------------------------------------------------------------------
 *
 * Globals: HTML & Body
 *
 * ----------------------------------------------------------------------------- */

html {
}

html, body, #page {
	min-height: 100%;

	@include g-state(full) {
		min-height: initial;
	}
}


body {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}