
<footer class="blog-footer w-100 bg-secondary">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="text-white my-4">
                    <p class="w-100">NCPR Copyright {{ now.Format "2006"}}</p>
                </nav>
            </div>

            <div class="col-md-6">
                <div class="my-4  float-md-right">
                    <a class="logo-ncpr" href="http://ncpr.org">North Country Public Radio</a>
                </div>
            </div>
        </div>
    </div>

</footer>
