
{{ define "subheader" }}
<div class="jumbotron jumbotron--home">
  <div class="container">
  <h1 class="display-4">Diviner Wordpress Archiving Theme</h1>
  <p class="lead">Create a Searchable Multi-faceted Archive</p>
  <hr class="my-4">
  <p>Manage your meta data. Search quickly. Add video or audio or photos as needed. With the added power of elastic search.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-primary" href="/diviner-wp-archive-theme/is-diviner-for-you/" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="https://github.com/NCPR/diviner-wp-archive-theme/">Download the plugin</a>
  </p>
  </div>
</div>
{{ end }}

{{ define "main" }}
<header>
    <h2 class="blog-post-title">
        <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h2>
    <hr>
</header>
<article class="blog-post">
    {{ .Content }}
</article>

{{ end }}
