
.archive-item-edit {
	.page-title-action {
		display: none;
	}
}

/* Makes the type field invisible */
#carbon_fields_container_div_ai_container_types {
	display: none !important;
}

/* Handles all the main media visiblity  */

#carbon_fields_container_div_ai_container_audio {
	display: none !important;

	.archive-item-edit--div_ai_field_audio &,
	.archive-item-edit--div_ai_field_mixed & {
		display: block !important;
	}
}

#carbon_fields_container_div_ai_container_video {
	display: none !important;

	.archive-item-edit--div_ai_field_video &,
	.archive-item-edit--div_ai_field_mixed & {
		display: block !important;
	}
}

#carbon_fields_container_div_ai_container_document {
	display: none !important;

	.archive-item-edit--div_ai_field_document &,
	.archive-item-edit--div_ai_field_mixed & {
		display: block !important;
	}
}

#carbon_fields_container_div_ai_container_photo {
	display: none !important;

	.archive-item-edit--div_ai_field_photo &,
	.archive-item-edit--div_ai_field_mixed & {
		display: block !important;
	}
}
