
#carbon_fields_container_audio {
	display: none !important;

	.archive-item-edit--div_ai_field_audio {
		display: block !important;
	}
}


#carbon_fields_container_video {
	display: none !important;

	.archive-item-edit--div_ai_field_video {
		display: block !important;
	}
}

#carbon_fields_container_document{
	display: none !important;

	.archive-item-edit--div_ai_field_document {
		display: block !important;
	}
}
