
.wp-block {

}

// Block specific
p.wp-block-paragraph,
p.wp-block-paragraph.mce-content-body{
	@include body-text;
	color: $color_text;

	&.has-drop-cap:not(:focus)::first-letter {
		@include drop-cap;
	}
}

.editor-styles-wrapper .editor-block-list__block {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.editor-rich-text__tinymce {
			@include headers;
		}
	}

	h1.editor-rich-text__tinymce {
		@include h1
	}

	h2.editor-rich-text__tinymce {
		@include h2
	}

	h3.editor-rich-text__tinymce {
		@include h3
	}

	h4.editor-rich-text__tinymce {
		@include h3
	}

	h5.editor-rich-text__tinymce {
		@include h5
	}

	h6.editor-rich-text__tinymce {
		@include h6
	}

}

.editor-styles-wrapper .wp-block-button .wp-block-button__link {
	@include button;

	width: 100%;
}

.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	font-weight: $t_font_weight_semi_bold;
	margin-bottom: $d_spacer_sm;
	line-height: $t_line_height_m;
	font-family: $t_font_headers;
	color: $color_headers !important;
}

.editor-styles-wrapper .wp-block-cover {
	min-height: 200px;

	.editor-rich-text__tinymce {
		font-family: $t_font_headers;
	}

}

.editor-styles-wrapper .wp-block-separator {
	border-bottom-width: 4px;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-dots) {
	background-color: $color_accent;
	border-bottom-color: $color_accent;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots:before {
	color: $color_accent;
	font-size: 38px;
	letter-spacing: 12px;
	padding-left: 12px;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots)::before {
	background: $color_accent;
}

.editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	@include cite-text;
	text-align: right;
}

.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: $color_accent;
}

.editor-styles-wrapper .wp-block-table {
	border: 1px solid $color_border;

	th, td {
		border: 1px solid $color_border;
		padding: $d_spacer_sm;
	}

	.wp-block-table__cell-content {
		padding: 0;
		@include body-text;
	}
}

.editor-styles-wrapper .wp-block-paragraph {
	@include body-text;

	&.has-drop-cap:not(:focus)::first-letter {
		@include drop-cap;
	}
}

.editor-styles-wrapper .wp-block-freeform {
	p {
		@include body-text;
	}

	blockquote {
		@include blockquote;
	}
}

.editor-styles-wrapper .wp-block-pullquote {
	margin-top: $d_spacer_m;
	margin-bottom: $d_spacer_m;

	@include g-state(medium) {
		margin-top: $d_spacer_lrg;
		margin-bottom: $d_spacer_lrg;
	}

	blockquote {
		margin: 0;
	};

	/*
	ToDo: how to limit this block to 50% when aligned left right
	*/

	.wp-block-pullquote__citation {
		@include cite-text;

		color: $color_grey;
	}

	.block-library-pullquote__content {
		p {
			font-weight: $t_font_weight_bold;
			line-height: $t_line_height_lrg;
			letter-spacing: 0.1px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

