
.wp-block {

}

// Block specific
p.wp-block-paragraph,
p.wp-block-paragraph.mce-content-body{
	@include body-text;

	color: $color_text;

	&.has-drop-cap:not(:focus)::first-letter {
		@include drop-cap;
	}
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {

	li {
		@include body-text;

		color: $color_text;
	}
}

.editor-styles-wrapper .editor-block-list__block {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.block-editor-rich-text__editable {
			@include headers;
		}
	}

	h1.block-editor-rich-text__editable {
		@include h1;
	}

	h2.block-editor-rich-text__editable {
		@include h2;
	}

	h3.block-editor-rich-text__editable {
		@include h3;
	}

	h4.block-editor-rich-text__editable {
		@include h3;
	}

	h5.block-editor-rich-text__editable {
		@include h5;
	}

	h6.block-editor-rich-text__editable {
		@include h6;
	}

}

.editor-styles-wrapper .wp-block-button {

	.wp-block-button__link {
		@include button(false);

		width: 100%;
	}

	&.is-style-outline {
		.wp-block-button__link {
			border: 2px solid $color_primary;
		}
	}

	&.is-style-squared {
		.wp-block-button__link {
			border-radius: 0;
		}
	}
}

.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	font-weight: $t_font_weight_semi_bold;
	margin-bottom: $d_spacer_sm;
	line-height: $t_line_height_m;
	font-family: $t_font_headers;
	color: $color_headers !important;
}

.editor-styles-wrapper .wp-block-cover {
	min-height: 200px;

	.editor-rich-text__tinymce {
		font-family: $t_font_headers;
	}

}

.editor-styles-wrapper .wp-block-separator {
	border-bottom-width: 4px;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-dots) {
	background-color: $color_accent;
	border-bottom-color: $color_accent;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots:before {
	color: $color_accent;
	font-size: 38px;
	letter-spacing: 12px;
	padding-left: 12px;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots)::before {
	background: $color_accent;
}

.editor-styles-wrapper .wp-block-quote .editor-rich-text__tinymce:not(.wp-block-quote__citation) {
	@include blockquote-text;
}

.editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	@include cite-text;
}

.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: $color_accent;
}

.editor-styles-wrapper .wp-block-table {
	border: 1px solid $color_border;

	th, td {
		border: 1px solid $color_border;
		padding: $d_spacer_sm;
	}

	.wp-block-table__cell-content {
		@include body-text;

		padding: 0;
	}
}

.editor-styles-wrapper .wp-block-paragraph {
	@include body-text;

	&.has-drop-cap:not(:focus)::first-letter {
		@include drop-cap;
	}
}

.editor-styles-wrapper .wp-block-freeform {

	& > * {
		margin-bottom: $d_spacer_m;
	}

	p {
		@include body-text;
	}

	blockquote {
		@include blockquote;

		margin-bottom: $d_spacer_m;
	}

	.btn {
		@include button(false);
	}

	&.block-library-rich-text__tinymce:focus {
		a[data-mce-selected].btn {
			@include button(false);

			color: $color_white;
			margin: 0;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		@include headers;
	}

	h1 {
		@include h1;
	}

	h2 {
		@include h2;
	}

	h3 {
		@include h3;
	}

	h4 {
		@include h4;
	}

	h5 {
		@include h5;
	}

	h6 {
		@include h6;
	}

	li {
		@include body-text;

		color: $color_text;
	}

	hr {
		max-width: 80px;
		border: 0;
		height: 4px;
		background: $color_accent;
		margin-left: auto;
		margin-right: auto;
	}
}

.editor-styles-wrapper .wp-block-pullquote {
	margin-top: $d_spacer_m;
	margin-bottom: $d_spacer_m;

	@include g-state(medium) {
		margin-top: $d_spacer_lrg;
		margin-bottom: $d_spacer_lrg;
	}

	blockquote {
		margin: 0;
	};

	/*
	ToDo: how to limit this block to 50% when aligned left right
	*/

	.wp-block-pullquote__citation {
		@include cite-text;

		color: $color_grey;
	}

	.block-library-pullquote__content {
		p {
			font-weight: $t_font_weight_bold;
			line-height: $t_line_height_lrg;
			letter-spacing: 0.1px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

