
.wp-block {
	/*
	font-family: $t_font_sanserif;
	font-weight: $t_font_weight_normal;
	line-height: $t_line_height_m;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $t_font_weight_semi_bold;
		line-height: $t_line_height_m;
		font-family: $t_font_headers;
		color: $color_headers;
	}
	*/
}
