.post-type-diviner_field {
}

.wrap-diviner--light {
	background-color: $color_white;
	margin: 30px 0;
	padding: 20px;
	max-width: 750px;
}

.wrap-diviner--preset {
	.wp-list-table {
		.column-id {
			width: 5%;
		}
		.column-title {
			width: 50%;
		}
		.column-description {
			width: 40%;
		}
	}
}

.wrap-diviner--default {
	.wp-list-table {
		.column-id {
			width: 5%;
		}
		.column-active {
			width: 10%;
		}
		.column-title {
			width: 40%;
		}
		.column-description {
			width: 40%;
		}
	}
}

.wrap-diviner--limited {
	max-width: 850px;
}

.post-edit--diviner_field {
}

.field-select-wrap {
	background-color: $color_white;
	margin: 30px 0;
	padding: 20px;

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 120%;
	}
}

#carbon_fields_container_date_field_variables {
	display: none !important;

	.post-field-type--diviner_date_field & {
		display: block !important;
	}
}

#carbon_fields_container_taxonomy_field_variables {
	display: none !important;
	.post-field-type--diviner_taxonomy_field & {
		display: block !important;
	}
}

#carbon_fields_container_custom_post_type_field_variables {
	display: none !important;
	.post-field-type--diviner_cpt_field & {
		display: block !important;
	}
}

#carbon_fields_container_select_field_variables {
	display: none !important;
	.post-field-type--diviner_select_field & {
		display: block !important;
	}
}

#minor-publishing {
	.post-edit--diviner_field & {
		display: none;
	}
}

.carbon-field.div_field_id {
	input {
		pointer-events: none;
		color: $color_grey_dark;
		background-color: $color_grey_light;
	}
	label {
		color: $color_grey_dark;
	}
}

#carbon_fields_container_hidden_field_variables {
	display: none !important;
}

.carbon-field.div_field_type {
	// display: none;
}

.post-edit--diviner_field {
	.page-title-action {
		display: none;
	}
}
