
.wrap-diviner {

	ul {
		margin: 15px 0 15px 20px;
		list-style-type: disc;

		li {
			margin-left: 13px;
			margin-bottom: 10px;
		}
	}

	h2 {
		margin-bottom: 15px;

		&:first-of-type {
			margin-bottom: 15px;
		}
	}

	p,
	li {
		font-size: 110%;
	}

	p {
		margin-bottom: 15px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

}

.wrap-diviner--auto-width {
	display: inline-block;
	width: auto;
}