
@import 'utilities/all';
@import 'base/all';

/* -----------------------------------------------------------------------------
 *
 * Body & Globals
 *
 * ----------------------------------------------------------------------------- */

html .mceContentBody {
	padding: 15px !important;
}


.editor-post-title {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $t_font_weight_semi_bold;
		margin-bottom: $d_spacer_sm;
		line-height: $t_line_height_m;
		font-family: $t_font_headers;
		color: $color_headers;
	}
}