:root {
	--input-color: #e3a161;
	--white: #fff;
	--grey: #ddd;
	--grey-darker: #9b9b9b;
	--off-white: #f4f4f4;
	--text: #48484e;
	--text-alt: #650a30;
	--icons: #959595;
	--hover: #0073aa;
	--black: #191919;
	--link-alt: #0096db;
}