// -----------------------------------------------------------------------------
//
// Paragraph
//
// -----------------------------------------------------------------------------

p {
	@include body-text;

	margin-bottom: 1.6em;

	.d-content & {
		color: $color_text;

		&.has-drop-cap:not(:focus)::first-letter {
			@include drop-cap;
		}
	}

	.d-content--inverse & {
		color: $color_text_inverse;
	}
}
