// -----------------------------------------------------------------------------
//
// Paragraph
//
// -----------------------------------------------------------------------------

p {
	.d-content & {
		color: $color_text;
	}

	.d-content--inverse & {
		color: $color_text_inverse;
	}

	margin-bottom: $d_spacer_sm;
}
